body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 42px;
    margin-top: 90px;
}

.foodi1{
    color: tomato;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    
}
.foodi{
    padding-left: 5%;
}
.foodi img{
    margin-left: 50%;

}
.order{
    margin-top: 30px;
}
.order-now{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5%;
}
.hungry img{
    width: 60%;
    padding-left: 5%;
}
.read-more1{
    margin-top: 30px;
}

.read-more{
    text-decoration: none;
    background-image: linear-gradient(red, tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700px;
    border-radius: 5%; 
}
.hungry1{
    background-image: url(images/frem.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.our-foods{
    text-align: center;
    padding-top: 0px;
    padding-bottom: 40px;
}
.burger{
    width: 25%;
    margin-left: 3%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 20px grey;
}
.burger img{
    width: 353px;
    margin-top: 4%;
    border-radius: 15px;
}
#br{
    height: 500px;
}
.pizza{
    width: 25%;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 20px grey;
}
.pizza img{
    width: 353px;
    margin-top: 4%;
    border-radius: 15px;
}
#pz{
    height: 500px;
}
.noodles{
    width: 25%;
    margin-left: 5%;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 20px grey;
}
.noodles img{
    width: 353px;
    margin-top: 4%;
    border-radius: 15px;
}
#ns{
    height: 500px;
}
.foodis{
    color: tomato;
}
.footer{
    color: darkgray;
}
footer{
    text-align: center;
    background-color: rgb(48, 47, 47);
}
footer p{
    color:rgb(189, 188, 188);
}
h3{
    color: white;
}